
Deathlogger/.vs/Deathlogger/v15/Server/sqlite3/db.lock
Deathlogger/Temp/UnityLockfile
*.json
Deathlogger/Library/shadercompiler-UnityShaderCompiler.exe0.log
Deathlogger/Library/shadercompiler-UnityShaderCompiler.exe0.log
Deathlogger/Temp/ProcessJobs/e9a6970f79cd12d8b075e7d72f1b07cb.bakert
*.log
Deathlogger/Library/metadata/6d/6d5e8b13a70ee3b4cb89ac48782ed4fd.info
Deathlogger/Library/metadata/6d/6d5e8b13a70ee3b4cb89ac48782ed4fd
Deathlogger/Assets/Prefab.meta
*.log
Deathlogger/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Deathlogger/Library/ScriptAssemblies/Assembly-CSharp.dll
*.info
*.txt
*.log
Deathlogger/Temp/UnityTempFile-489bf5d4e58387644a67c614e2364276
Deathlogger/Temp/UnityTempFile-4f801b840ccc1a94a938b6231826cd99
Deathlogger/Temp/UnityTempFile-557b5433c9042d5438c2af0f422982dc
Deathlogger/Temp/UnityTempFile-62b04362e05e4af46aa2eef747af28d4
Deathlogger/Temp/UnityTempFile-c7809e6f057eb264fb50d7fd3a6e9e09
Deathlogger/Temp/UnityTempFile-ff0d79dc489405c40b1e52af57d9f063
Deathlogger/Library/shadercompiler-UnityShaderCompiler.exe0.log
Deathlogger/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Deathlogger/Library/ScriptAssemblies/Assembly-CSharp.dll
Deathlogger/Library/metadata/ca/ca1919d81c45f554fbf11db7b41dbf21.info
*.info
*.info
Deathlogger/Library/metadata/01/01531d8feec7e124f97e135fb31001f8
Deathlogger/Library/metadata/07/072beb0afba13ed45a4efd8676ba700e.info
Deathlogger/Library/metadata/2c/2c670f4d2734a6e459b94b1cee2130bd
Deathlogger/Library/metadata/81/81746aa22a347ce4fb2c124981258f8e.info
Deathlogger/Library/metadata/b2/b27f944f99dce154b9c6f48a8df0602c.info
Deathlogger/Library/metadata/ca/ca1919d81c45f554fbf11db7b41dbf21.info
*.info
Deathlogger/Library/assetDatabase3
*.bin
*.info
*.info
Deathlogger/Library/metadata/c5/c5a12a774dd2c604ba0b08ba1396c124
*.info
Deathlogger/Library/metadata/07/072beb0afba13ed45a4efd8676ba700e.info
Deathlogger/Library/metadata/1d/1d97d51db60c0ae4d933fee2e3f074b4
Deathlogger/Library/metadata/78/7843a951d1054e74081ced91fe6a34d2
Deathlogger/Library/metadata/81/81746aa22a347ce4fb2c124981258f8e.info
Deathlogger/Library/metadata/91/917a109c86bbc9e49ba87b00123ea161
Deathlogger/Library/metadata/b2/b27f944f99dce154b9c6f48a8df0602c.info
Deathlogger/Library/metadata/ca/ca1919d81c45f554fbf11db7b41dbf21.info
Deathlogger/Library/metadata/f8/f86bdc11de312b2489e65fc4547698da
*.csproj
Deathlogger/Deathlogger.csproj
Deathlogger/Temp/UnityTempFile-7d93824e161d2ca45af642f25100f00c
Deathlogger/Temp/UnityTempFile-837dbd14fcd423a4c8e754a5c8b74a17
Deathlogger/Temp/UnityTempFile-9ab11830add7fd84b830feed68649e43
Deathlogger/Temp/UnityTempFile-11b055df8c733e04788049d16729ee1f
Deathlogger/Temp/UnityTempFile-3f5c274a5134d3643bb93c089810601d
Deathlogger/Temp/UnityTempFile-6fb61fecd18a14e45825525d48e2117d
Deathlogger/Temp/UnityTempFile-7127ca83b07676b418b5f7b3768e69a9
Deathlogger/Temp/UnityTempFile-a4e40bbfa1b1cdb4e95321220739e5d9
Deathlogger/Temp/UnityTempFile-a6d154bf77e51a744bfcaea204d775b0
Deathlogger/Temp/UnityTempFile-c8ba17936d8a66a408eb20ff66b11380
Deathlogger/Temp/UnityVS_obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.backup
*.log
*.mdb
*.dll
Deathlogger/.vs/Deathlogger/v14/.suo
Deathlogger/Library/metadata/07/072beb0afba13ed45a4efd8676ba700e.info
Deathlogger/Library/metadata/20/20b0ec09f2727044c98b18d66f22e406
Deathlogger/Library/metadata/74/74c55bbdcb2fe2041ae912c644565c0b
Deathlogger/Library/metadata/81/81746aa22a347ce4fb2c124981258f8e.info
Deathlogger/Library/metadata/b2/b27f944f99dce154b9c6f48a8df0602c.info
Deathlogger/Library/metadata/ca/ca1919d81c45f554fbf11db7b41dbf21.info
Deathlogger/Library/metadata/e1/e18b75cacfe6dd4449f9d2df8b1ac8ec
Deathlogger/Library/ScriptAssemblies/Assembly-CSharp.dll
Deathlogger/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
