
Deathlogger/.vs/Deathlogger/v15/Server/sqlite3/db.lock
Deathlogger/Temp/UnityLockfile
*.json
Deathlogger/Library/shadercompiler-UnityShaderCompiler.exe0.log
Deathlogger/Library/shadercompiler-UnityShaderCompiler.exe0.log
Deathlogger/Temp/ProcessJobs/e9a6970f79cd12d8b075e7d72f1b07cb.bakert
*.log
